<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.ht.com.basequickadpater">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaseQuickAdpater">
        <activity android:name=".activitys.BinActivity"></activity>
        <activity android:name=".activitys.PercentActivity" />
        <activity android:name=".activitys.ExpandActivity" />
        <activity android:name=".activitys.RemoveActivity" />
        <activity android:name=".activitys.MultiActivity" />
        <activity android:name=".activitys.SectionActivity" />
        <activity android:name=".activitys.OrdinaryActivity" />
        <activity android:name=".activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>